*
    box-sizing: border-box
body
    font-family: 'Open Sans', sans-serif
    font-size: 16px
    font-weight: 300
ul
    list-style: none
a
    text-decoration: none
.container
    margin: 0 auto
    max-width: 1100px
