.benefits
  &__container
    background-color: #fff
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993)
    position: relative
  &__title
    width: 100%
    text-align: center
    font-style: normal
    font-weight: 500
    font-size: 35px
    line-height: 42px
    color: #102746
    padding: 93px 100px 88px 100px
    position: absolute
    top: 0
    left: 0
    transform: translateY(-100%)
    background-color: #fff
  &__cards
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-column-gap: 55px
    padding-left: 100px
    padding-right: 100px
    padding-bottom: 50px
  &__wrap
    grid-column: span 1
    margin-bottom: 131px
.wrap
  &__img
    display: block
  &__pic
    max-width: 66px
    margin-bottom: 37px
  &__title
    font-weight: 500
    font-size: 18px
    line-height: 24px
    color: #000000
    margin-bottom: 26px
  &__text
    font-size: 16px
    line-height: 24px
    color: #000000
    margin-bottom: 39px
  &__link
    padding-right: 59px
    display: inline-block
    font-size: 16px
    line-height: 24px
    color: #006dfe
    text-decoration: none
    background: url("..//img/Shape.png") no-repeat 95% center
    transition: 0.2s all
    &:hover,&:focus
      background: url("..//img/Shape.png") no-repeat right center
