.header
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 999
    transition: 0.2s linear
    &__phone
        font-weight: normal
        font-size: 21px
    &__active
        background-color: #FF9783
.nav
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 30px
    padding-bottom: 30px
.menu
    &__list
        display: flex
        align-items: center
        justify-content: center
        &-item
            margin-right: 130px
            &:last-child
                margin-right: 0
        &-link
            color: $text-color
.logo
    margin: 0
    font-weight: 700
    color: $text-color
    font-size: 27px
    &__sup
        display: block
        text-align: center
        line-height: 30px
